*.o
*~
*.d
*.exe
*.a
tests/test_aes
tests/test_cbc_mode
tests/test_ccm_mode
tests/test_cmac_mode
tests/test_ctr_mode
tests/test_ctr_prng
tests/test_ecc_dh
tests/test_ecc_dsa
tests/test_hmac
tests/test_hmac_prng
tests/test_sha256
compile_commands.json
*.log
*/*.log
.vscode/c_cpp_properties.json
_results/
tis_report.html
